[2012-04-30 08:20] yegor256 opened #116 "LoggerMocker would be nice to have"

[2013-10-04 11:32] PawanDalal opened #2 "jcabi-log framework throws exception when encountered processing Thread.run() method"
`java.lang.ClassCastException(org.aspectj.runtime.reflect.JoinPointImpl cannot be cast to com.mydomain.MyClass) out of com.mydomain.MyClass$AjcClosure19#run[1] in 366ms`

Exception in thread "main"

[code]

Note that `com.mydomain.MyClass` is extending `Thread` class and has implemented `run()` method. This class is annotated with `@Loggable(Loggable.TRACE)` annotation. If I remove this annotation

[2013-10-20 07:13] yegor256 opened #3 "VerboseProcess#stdoutQuietly()"
Let's introduce a new method `VerboseProcess#stdoutQuietly()`, which will do exactly the same as `stdout()` but without checking for non-zero exit code

[2013-10-20 07:37] #3 closed, assigned to nobody

[2013-10-27 08:26] yegor256 opened #4 "VerboseProcess doesn't log stderr without redirection"
When stderr-to-stderr redirection is not enabled `VerboseProcess` doesn't log stderr at all

[2013-10-27 09:20] #4 closed, assigned to nobody

[2013-10-27 10:33] yegor256 opened #5 "custom log levels in VerboseProcess"
Would be convenient to have one more ctor in `VerboseProcess`, with logging levels, one for stdout and one for stderr

[2013-10-27 11:14] #5 closed, assigned to nobody

[2013-12-22 04:35] reegnz opened #6 "compile dependency to log4j in pom.xml"
In pom.xml there is a compile time dependency to log4j. This causes dependent projects to retrieve log4j to their runtime classpath even though they might use another logger implementation.

The dependencies to log4j are caused by direct dependencies to MulticolorLayout.

The proper solution would be to make log4j an optional dependency and check at runtime if we have log4j available on the classp

[2013-12-22 04:40] reegnz opened #7 "circular dependency between jcabi-log and jcabi-aspects"
jcabi-log depends on jcabi-aspects and vice-versa.

This circular dependency can be resolved by splitting jcabi-log into jcabi-log-api and jcabi-log-impl. The dependency to jcabi-aspects is only required bz jcabi-log-impl, and jcabi-aspects can only depend on jcabi-log-api.

[2013-12-23 11:30] #6 closed, assigned to nobody

[2014-02-22 06:20] krzyk opened #8 "Logging formatter should fail when there are more parameters"
When using e.g.:

[code]

The `Logger` silently ignores the 4th parameter (notice the that there is only one `%s`), but it should throw `IllegalArgumentException` when there are more parameters then formatting string accepts.

[2014-03-05 07:14] #8 closed, assigned to nobody

[2014-06-01 20:23] longtimeago opened #10 "VerboseProcess.stdoutQuietly() logs nothing if process finishes with error"
VerboseProcess.stdoutQuietly() logs nothing if process finishes with error

For example, I'm trying to run some java class in VerboseProcess:

[code]

Class `com.example.Main` expects 3 arguments, throws IndexOutOfBounds exception and terminates.
But I see no exceptions in logs, even if specify start process with `Level.ALL` for both `stdout` and `stderr`
Is that behaviour OK?

[2014-06-09 05:39] yegor256 opened #12 "unstable test VerboseProcessTest.runsACommandLineScriptWithException()"
https://travis-ci.org/jcabi/jcabi-log/builds/27107447

Would be great to investigate and fix.

[2014-06-09 19:28] krzyk opened #13 "Logger should have a method to check if given log level is enabled"
Right now there are four separate methods for checking if logging is enabled (e.g. `isDebugEnabled`). In some cases it would be better to have a method like:
`boolean enabled(Level)` so it could be called: `if (enabled(Level.INFO)) {}`.

[2014-06-09 19:37] #10 closed, assigned to nobody

[2014-06-12 13:28] #12 closed, assigned to nobody

[2014-06-13 17:04] #13 closed, assigned to nobody

[2014-07-06 14:20] longtimeago opened #17 "The web application [] appears to have started a thread named [jcabi-loggable] but has failed to stop it"
Playing with rexsl under tomcat I've discovered an issue during container stop:

[code]

[2014-07-09 12:10] #17 closed, assigned to nobody

[2014-07-11 10:34] yegor256 opened #18 "VerboseRunnable doesn't restore interrupted status"
VerboseRunnable doesn't restore interrupted status of a thread

[2014-07-17 12:58] #18 closed, assigned to nobody

[2014-07-20 11:45] krzyk opened #19 "Logger.format should be moved"
``Logger.format`` doesn't look like a method that should be inside a Logger, more like an utility method.
It looks confusing when ``Logger.format()`` is used outside logging context in other projects.
Maybe create jcabi-lang (similar to commons-lang) for such general utility methods that don't belong to other projects.

[2014-07-27 10:50] yegor256 opened #20 "%n in Logger formatting string leads to problem"
Try this:

[code]

Runtime exception will be thrown.

[2014-08-15 22:24] yegor256 opened #21 "skin 1.4"

[2014-08-16 07:18] #21 closed, assigned to nobody

[2014-08-18 09:51] dmarkov opened #22 "DecorsManager.java:47-48: The class has to be..."
Puzzle `143-44bd09d0` in `src/main/java/com/jcabi/log/DecorsManager.java:47-48` has to be resolved: The class has to be @Immutable, but with ConcurrentMap it's impossible to do. Let's refactor.

[2014-08-18 10:29] dmarkov opened #23 "PreFormatter.java:46-48: The class has to be..."
Puzzle `143-c036470e` in `src/main/java/com/jcabi/log/PreFormatter.java:46-48` has to be resolved: The class has to be annotated with @ToString, but we can't do it at the moment: https://code.google.com/p/projectlombok/issues/detail?id=457

[2014-08-18 12:05] dmarkov opened #24 "VerboseProcessTest.java:52-55: Locale/encoding problem in two test..."
Puzzle `18-de8643f2` in `src/test/java/com/jcabi/log/VerboseProcessTest.java:52-55` has to be resolved: Locale/encoding problem in two test methods here. I'm not sure how to fix them, but they should be fixed. They fail on some machines, while run perfectly on others. They also fail when being executed from IntelliJ.

If you have any technical questions, don't ask me, submit new tickets instead

[2014-08-18 16:12] dmarkov opened #25 "SizeDecorTest.java:66-68: The SizeDecor class is not..."
Puzzle `26-9c2568b0` in `src/test/java/com/jcabi/log/SizeDecorTest.java:66-68` has to be resolved: The SizeDecor class is not implemented yet, that's why the test is not enabled at the moment. You should uncomment the lines below and make sure the test passes.

[2014-08-25 15:26] #22 closed, assigned to nobody

[2014-08-25 15:26] #25 closed, assigned to nobody

[2014-08-29 17:52] yegor256 opened #29 "VerboseRunnable doesn't catch the output"
Sometimes, very rarely, `VerboseRunnable` doesn't catch the output at all and returns an empty string. For example, see http://www.rultor.com/t/723-53907230

[2014-08-29 18:43] #29 closed, assigned to nobody

[2014-09-01 11:08] dmarkov opened #30 "SecretDecorTest.java:67-69: The SecretDecor class is not..."
Puzzle `26-9f34c6f6` in `src/test/java/com/jcabi/log/SecretDecorTest.java:67-69` has to be resolved: The SecretDecor class is not implemented yet, that's why the test is not enabled at the moment. You should uncomment the lines below and make sure the test passes.

[2014-09-01 11:09] #23 closed, assigned to nobody

[2014-09-01 12:26] dmarkov opened #31 "ObjectDecorTest.java:66-68: The ObjectDecor class is not..."
Puzzle `26-b04be6bf` in `src/test/java/com/jcabi/log/ObjectDecorTest.java:66-68` has to be resolved: The ObjectDecor class is not implemented yet, that's why the test is not enabled at the moment. You should uncomment the lines below and make sure the test passes.

[2014-09-05 09:47] #30 closed, assigned to nobody

[2014-09-05 09:47] #31 closed, assigned to nobody

[2014-09-09 09:22] #2 closed, assigned to nobody

[2014-09-23 00:43] carlosmiranda opened #34 "Let's allow Logger names to be specified with String"
At the moment, the API specifies methods that look like the following:

`Logger.info(Object source, String msg, Object... args)`

In this case, the name of the logger will be based on the class of the `source` object. I think it's better if we are able to specify the name using String. My idea is, if `source` is a String instance, let's use its value as the name of the logger. Currently, specifyin

[2014-09-23 02:57] carlosmiranda opened #35 "Broken link in Decors page"
In our project site, the page http://log.jcabi.com/decors.html has a broken link. In the page template, the link to `http://docs.oracle.com/javase/7/docs/api/java/util/Formattable.html` actually links to `http://log.jcabi.com/decors.html#ajava.util.Formattable`, instead of the Javadoc page.

Line 84 of `src/site/apt/decors.apt.vm` currently contains:

[code]

I think it should be:

[code]

[2014-09-23 13:41] #35 closed, assigned to nobody

[2014-09-23 17:49] yegor256 opened #36 "VerboseProcess crashes when stream gets closed"
`VerboseProcess` crashes on line 357, if underlying stream gets closed. Should be fixed. It should crash with an exception, but should correct finish the `while` loop and exit.

[2014-09-23 23:48] #34 closed, assigned to nobody

[2014-10-21 14:11] #36 closed, assigned to nobody

[2014-11-01 14:14] longtimeago opened #38 "Let's make VerboseProcess closeable"
I've tried to switch thindeck project on jcabi-log 0.15 and got a lot of exceptions in test traces, like this one

[code]

It supposed to be fixed in scope of https://github.com/jcabi/jcabi-log/issues/36 but wasn't
Issue is also a blocks others, at least this one https://github.com/jcabi/jcabi-mysql-maven-plugin/issues/30

So, let's make VerboseProcess responsible for closing 2 internal monitors a

[2014-11-27 19:04] krzyk opened #39 "VerboseRunnable doesn't log stderror when process exist status is != 0"
Code below doesn't log `stderr` information, I know only that process exited with error code 1.

[code]

[2014-11-28 07:03] #39 closed, assigned to nobody

[2014-12-03 14:27] dabd opened #40 "Static wrapper does not implement the full org.slf4j.Logger interface"
I'd like to use the methods from the slf4j Logger interface that receive a throwable, like for example   public void debug(String msg, Throwable t) but the static wrapper does not implement them.

Trying to decorate the Logger static wrapper won't work either because the decorator won't be able to access this method:
private static org.slf4j.Logger logger(final Object source)

which is crucial to

[2014-12-09 13:00] #38 closed, assigned to carlosmiranda

[2014-12-14 18:41] maurcarvalho opened #43 "Log the monitoring in a specific file."
Hello guys.

Thinking about jcabi like a monitoring project for specific functions of any application, I'm assuming, I don't want to print these logs in the same logfile who could be N size of content generate by webserver for example.

I'm able to do this one but I'm thinking what's the best way to configure the framework to printout in a specific file?
This specific file could be a default one o

[2014-12-17 14:35] #43 closed, assigned to nobody

[2014-12-26 10:48] dmarkov opened #44 "ObjectDecorTest.java:66-71: Let's handle arrays. For now,..."
Puzzle `31-6c930351` in `src/test/java/com/jcabi/log/ObjectDecorTest.java:66-71` has to be resolved: Let's handle arrays. For now, ObjectDecor only does a deepToString of array contents. Let's make it so that each of its members will also show its internal contents. Ensure that this is handled in a "deep" fashion; that is, if its members are also arrays, then print the contents of the members of t

[2014-12-31 08:13] dmarkov opened #46 "VerboseProcess.java:179-183: When VerboseProcess is closed, we..."
Puzzle `38-9367cb1e` in `src/main/java/com/jcabi/log/VerboseProcess.java:179-183` has to be resolved: When VerboseProcess is closed, we should also shut down the monitor threads and prevent them trying to obtain the output from the process. It should be done before destroy() is called. See the following for more details: https://github.com/jcabi/jcabi-log/issues/38 http://www.java2s.com/Code/Java/

[2015-01-01 17:13] cyberone commented on #24
@yegor256 I had only runsACommandLineScriptWithException failing. To fix two others I need failing logs. Where can I get them?

[2015-01-02 14:18] yegor256 commented on #24
@cyberone I don't have them. They don't fail for me any more. Maybe this link will help you http://stackoverflow.com/questions/24802042/how-to-handle-encoding-inside-processbuilder-commands I created this question when the tests were failing

[2015-01-06 09:20] yegor256 opened #47 "VerboseCallable"

[2015-01-06 09:32] yegor256 commented on #47
@rultor release, tag is `0.16`

[2015-01-06 09:33] rultor commented on #47
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/1479-68843916)

[2015-01-06 09:45] rultor commented on #47
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/1479-68843916) (took me 12min)

[2015-01-06 09:47] #47 closed

[2015-01-08 08:39] cyberone commented on #24
@yegor256 I'm having echoesUnicodeCorrectly method with the following asswertion:

    Expected: a string containing "0000000 d1 82 d0 b5 d1 81 d1 82"
     but: was "0000000 82d1 b5d0 81d1 82d1

this means that a problem is in hexdump command which differs on some OSes. Which OS did you run this test on?

[2015-01-08 09:54] yegor256 commented on #24
@cyberone Mac OSX in my case. Maybe it's possible to tell `hexdump` how to format the output?

[2015-01-08 12:52] dmarkov commented on #24
@cyberone you're holding this ticket for 13 days already. If it's not finished (and closed) in the next 16 hours, it will be re-assigned to someone else, see [No Obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle. do not forget to remove the TODO puzzle from the source code. -30 added to your rating, current score is: [-250](http://www.netbout.com/b/35076?open=rat

[2015-01-08 16:34] maurezen opened #48 "Copyright section is outdated"
Copyright sections still feature 2014 as a year.

[2015-01-10 16:31] wentwog commented on #46
@dmarkov please review PR #49

[2015-01-12 14:30] dmarkov commented on #24
@cyberone the task is overdue, and I have to re-assign it to someone else. Please, stop working with it immediately. In general, we're against overdue tasks, check [this page](http://www.xdsd.org/2014/04/13/no-obligations-principle.html). added -60 to your rating, now it is equal to [-730](http://www.netbout.com/b/35076?open=rating)

[2015-01-12 14:30] dmarkov commented on #46
@wentwog just a reminder that you're working with this task for 12 days already; as a reminder, don't forget to remove the `@todo` puzzle from the source code; -30 added to your rating, current score is: [+35](http://www.netbout.com/b/35104?open=rating)

[2015-01-14 11:25] dmarkov commented on #24
@aoxa it's yours now, please proceed keeping in mind [our principles](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Feel free to ask any technical questions right here in the ticket. The budget of this task is **30 mins**. This is exactly how much time will be compensated, when the task is completed. Read about our [Definition of Done](http://www.xdsd.org/2014/04/15/definition-of-don

[2015-01-14 11:25] dmarkov commented on #44
@jenya the task is overdue, and I have to re-assign it to someone else. Please, stop working with it immediately. In general, we're against overdue tasks, check [this page](http://www.xdsd.org/2014/04/13/no-obligations-principle.html)... -60 added to your rating, current score is: [-555](http://www.netbout.com/b/35092?open=rating)

[2015-01-15 14:33] dmarkov commented on #46
@wentwog this task is not yours any more (took too long), please stop. -60 added to your rating, at the moment it is: [+20](http://www.netbout.com/b/35104?open=rating)

[2015-01-15 14:41] wentwog commented on #46
@dmarkov I have opened a pull request for this task 5 days ago. And no one has reviewed it yet.
So, the task is awaiting the review.
Why you withdraw the task in this situation?

[2015-01-15 14:43] yegor256 commented on #46
@dmarkov I think we should assign @wentwog back to this issue

[2015-01-16 14:01] dmarkov commented on #46
@yegor256 yes, @wentwog is already assigned to this task, please go ahead!

[2015-01-16 17:21] wentwog commented on #46
@dmarkov since the task withdrawal is reverted, I think, you can also revert the subtraction of 60 points.

[2015-01-19 09:29] dmarkov commented on #44
@cyberone could you please pick this up? This [article](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) explains how we work. Any technical questions you may ask right here; The budget of this issue is **30 mins**, which is exactly how much will be paid when the task is *done* (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2015-01-19 09:29] dmarkov commented on #46
@jenya please pick this up, and keep in mind [these instructions](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Any technical questions - ask right here; Budget here is **30 mins** (keep [this principle](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind)

[2015-01-19 12:59] wentwog commented on #46
@dmarkov I don't understand what you are doing.
You've written that you canceling your prevoius decision to take this task from me:

[2015-01-19 18:54] cyberone commented on #44
@dmarkov please review https://github.com/jcabi/jcabi-log/pull/50

[2015-01-19 19:43] wentwog commented on #46
@dmarkov the PL is merged.
Please, close the ticked.
And, also, please check whether the 60 pts subtracted were returned.

[2015-01-19 19:47] yegor256 commented on #46
@dmarkov hey, please assign @wentwog and don't take him away from this task :)

[2015-01-20 10:27] dmarkov commented on #46
@yegor256 done, @wentwog is a new assignment at the task, please go on. whoever worked with this task before, please stop right now

[2015-01-20 11:48] wentwog commented on #46
@dmarkov I would appreciate if you read and respond to the messages I address to you.

Now we have a situation when you ignore what I write to you; and to get the reaction from you, @yegor256 has to write here.
Let's communicate directly, since you are the task reporter and I am the task solver.

You told me to go on the task, but message above I had already told you that the pull request is close

[2015-01-21 18:31] cyberone commented on #44
@dmarkov the PR is merged and closed, please close the issue

[2015-01-21 22:52] maurezen opened #51 "Qulice configuration - no license specified."
1. Checkout master branch
2. run `mvn qulice:check -Pqulice`
3. There are multiple `Line does not match expected header line of ' * BSD License'. (HeaderCheck)` messages.

This is a known bug of qulice configuration in parent-0.31 (jcabi/jcabi-parent#19), accessed via jcabi-0.16. Suggested action is waiting until jcabi/jcabi#297 fix is released and upgrading jcabi version.

[2015-01-22 20:37] wentwog commented on #46
@dmarkov please, respond. This ticket awaits your response.

[2015-01-23 10:25] #46 closed

[2015-01-23 10:25] dmarkov commented on #46
I'm closing the issue...

[2015-01-23 10:29] dmarkov commented on #46
@wentwog Thank you, I've added **30 mins** to your account in payment/transaction "`50616592`"... +30 to your rating, your total score is [+110](http://www.netbout.com/b/35104?open=rating)

[2015-01-23 11:30] wentwog commented on #46
@dmarkov thanks, please, also respond to '1)' item in my message above.

[2015-01-23 14:07] yegor256 commented on #46
@wentwog according to our [policy](http://www.teamed.io/policy.html), there is only one person responsible for a task. If the task is not closed, for any (!) reason, it's your fault. Even if you submitted a pull request and it was not reviewed. I understand that this may sound counter intuitive at the beginning, but that's our philosophy.

[2015-01-25 17:46] dpisarenko opened #52 "`mvn clean install -Pqulice` fails under Windows 7 with Java 8"
Here's Maven output:

[code]

[2015-01-26 10:53] dmarkov commented on #44
The issue should be closed..

[2015-01-26 10:53] #44 closed

[2015-01-26 10:55] dmarkov commented on #44
@cyberone I added **30 mins** to your account, many thanks for working with the project!; +30 to your rating, your total score is [-640](http://www.netbout.com/b/35076?open=rating)

[2015-01-28 11:44] dmarkov commented on #24
@aoxa you're working with this ticket for the last 15 days. If it's not closed within the next 48 hours, it will be re-assigned to someone else, see [No Obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle. [This article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck... do not forget to remove the TODO puzzle from the source

[2015-01-29 06:02] aoxa commented on #24
I've tried a bunch of encoding after reading the process result while executing echosUnicodeCorrectly test, but could not found the reason why it is failing. I'm getting always the 0000000 f2 e5 f1 f2, except for UTF16 where a bunch of japanese chars appear. In my terminal I've ran...
:~$ echo -n тест | hexdump
0000000 82d1 b5d0 81d1 82d1
0000008
:~$ /bin/bash -c echo -n тест | hexdump
0000000 000

[2015-01-29 17:25] yegor256 commented on #24
@dmarkov assign someone else here pls

[2015-01-30 08:05] dmarkov commented on #24
@yegor256 no problem, I'll try to find somebody else

[2015-02-03 06:52] jaakko100500 opened #53 "Coloring %c{1} prevents coloring from stopping"
First, thanks for the awesome component!

Using for example

[code]

returns lines that are completely blue after debug level (incorrect, only class name should be blue)

But using:

[code]

returns correctly colored lines.

Br. Jaakko

[2015-02-03 14:43] yegor256 commented on #53
@jaakko100500 definitely a bug in our code, thanks for reporting! and thanks for using the library :) we'll fix it soon.

[2015-02-06 07:10] dmarkov commented on #53
I'm aware of the task, give me some time to find a developer...

[2015-02-13 22:40] yegor256 commented on #19
@krzyk we won't move this method out. even though the idea is good, making utility classes is not a good strategy. let's keep it inside jcabi-log

[2015-02-13 22:40] #19 closed

[2015-02-23 08:13] dmarkov commented on #24
@apocarteres please proceed, it's yours

[2015-02-23 08:13] dmarkov commented on #53
@nhekfqn it's your task, go ahead

[2015-02-23 09:18] dmarkov commented on #38
the last puzzle `38-9367cb1e`/#46 solved

[2015-02-25 07:32] dmarkov commented on #20
@yegor256 right, I added the `bug` tag

[2015-02-26 07:48] dmarkov commented on #20
we will find someone to do this task, soon

[2015-02-26 07:50] dmarkov commented on #20
@yegor256 thanks for reporting! I topped your account for 15 mins, transaction 000-1839de44

[2015-02-26 08:42] dmarkov commented on #31
last puzzled solved `31-6c930351`/#44

[2015-02-28 13:47] longtimeago opened #54 "Need a way to switch coloring off"
Coloring looks really cool in terminal. Unfortunately, we also have traces.
Look at these traces http://www.rultor.com/t/2130-75708892. You can find a lot of entries, started from
[code]
It would be grate if there will be a way to switch coloring off, for example, through system property:
[code]

[2015-04-07 07:05] dmarkov opened #55 "Estimate project size"
There is no estimate in the project yet. We have to create one as explained [here](https://github.com/teamed/est)

[2015-04-07 08:34] dmarkov opened #56 "0.17"
Please, publish a new release **0.17** (or higher). Don't forget to update us here regularly (at least once a week), as explained in [this article](http://www.yegor256.com/2015/05/11/software-architect-responsibilities.html).

[2015-04-07 12:54] dmarkov opened #57 "Indie tech review no.1"
Review our existing source code and all other technical artifacts and report at least 8 bugs. More about such reviews you can read [here](http://www.yegor256.com/2014/12/18/independent-technical-reviews.html). The task will be closed once we have that bugs reported and classified. Don't forget to add `itr` tag to each of them.

[2015-05-12 07:33] dmarkov commented on #56
@yegor256 The task description has been changed (see above). If there are concerns or objections, please give them to me right now. If not, please use the new version of the task description

[2015-05-14 07:34] dmarkov commented on #56
@yegor256 The description of the task was changed (see above). If anybody has any questions or concerns about this change, please express them right now. Otherwise, please work with the new version

[2015-06-01 07:13] dmarkov commented on #57
@yegor256 Closed, thanks all

[2015-06-01 07:13] #57 closed

[2015-06-04 08:12] #55 closed

[2015-06-04 08:12] dmarkov commented on #55
@yegor256 Closing this issue now...

[2015-06-04 08:12] dmarkov commented on #56
@yegor256 I am closing it, thanks all

[2015-06-04 08:12] #56 closed

[2015-06-10 10:46] YamStranger opened #58 "Build failed on windows with lots of EOL violations"
@dmarkov Looks like we need to add .gitattributes to force EOL of the repo.

[2015-06-15 07:40] dmarkov commented on #58
@yegor256 dispatch this issue please

[2015-06-15 07:40] dmarkov commented on #48
@yegor256 dispatch this issue please

[2015-06-15 07:40] dmarkov commented on #51
@yegor256 please pay attention to this issue

[2015-06-15 07:40] dmarkov commented on #52
@yegor256 please do something about this issue

[2015-06-15 07:40] dmarkov commented on #54
@yegor256 dispatch this issue please

[2015-06-16 22:11] yegor256 commented on #48
@maurezen fixed, thanks

[2015-06-16 22:11] #48 closed

[2015-06-16 22:29] YamStranger commented on #58
@yegor256. It is known problem, qulice fail if default system EOF not like in linux. So we need add .attributes to repository for force setting Unix-like end of line to git repository.
AppVeyor use linux like EOF.
This repository will not build successfully if you install git, install maven, clone repo and just build.
Here is some examples of same problem at different repositories:
This is issue s

[2015-06-19 09:17] dmarkov commented on #53
@suseika please go ahead with this task, it's yours

[2015-06-22 05:02] Suseika opened #59 "MulticolorLayout needs to be refactored"
This class does too much, its private functionality should be spread among multiple classes. It does formatting, parsing, coloring and managing human-readable color names, when it should only be doing formatting (as an EnhancedPatternLayout descendant). This is preventing me from fixing #53.

[2015-06-22 05:03] Suseika commented on #59
@dmarkov Please assign me to this.

[2015-06-22 05:03] Suseika commented on #53
@dmarkov Waiting for #59.

[2015-06-22 07:32] dmarkov commented on #53
@suseika yes, of course, we'll wait for #59

[2015-06-22 22:50] yegor256 commented on #58
@YamStranger fixed in https://github.com/jcabi/jcabi-log/commit/b3c3236c1ffa2a4b9aa5b9411f0bf943cf6c8854

[2015-06-22 22:50] #58 closed

[2015-06-23 21:25] yegor256 commented on #51
@maurezen fixed in d4adbdb thanks

[2015-06-23 21:25] #51 closed

[2015-06-24 01:37] yegor256 commented on #54
@longtimeago good idea about system property, thanks

[2015-06-24 07:36] dmarkov commented on #54
@longtimeago thanks for reporting! I topped your account for 15 mins, transaction 59894043

[2015-06-24 07:40] longtimeago commented on #54
@yegor256 you are welcome! Better later than never :)

[2015-06-25 07:47] dmarkov commented on #59
@yegor256 please pay attention to this issue

[2015-06-26 07:59] dmarkov commented on #59
@suseika many thanks for the bug report, I added 15 mins to your acc, transaction `AP-9K060333KD603460G`

[2015-07-08 16:29] Suseika commented on #53
@dmarkov Please assign someone else.

[2015-07-09 08:38] dmarkov commented on #53
@suseika 30 points deducted from your rating

[2015-07-09 08:38] dmarkov commented on #53
@suseika no problem, I will try to find somebody else

[2015-08-05 15:07] AlexAbraham1 opened #60 "Getting %L parameter to work"
Hey!

I was wondering if there is a way to get the %L parameter in layout.ConversionPattern to work. Right now it gives me the line number of the log statement in the Logger class and it would be much better if I could get the line number in the class I called the static method.

EX: log4j.appender.CONSOLE.layout.ConversionPattern=%d{yyyy-MM-dd HH:mm:ss} [%color{%-5p}] %c:%L - %m%n

Thanks!

[2015-08-08 11:13] longtimeago commented on #54
@yegor256 could you please assign someone here?
The bug is annoying ...

[2015-08-11 07:24] dmarkov commented on #54
@suseika it's your task now, go ahead

[2015-08-11 07:24] dmarkov commented on #60
@yegor256 please dispatch this issue

[2015-08-11 09:05] yegor256 commented on #60
@AlexAbraham1 seems like a bug, thanks for reporting, we'll see what we can do

[2015-08-11 10:53] dmarkov commented on #60
@suseika it's your task now

[2015-08-14 22:08] Suseika commented on #60
@dmarkov Please assign someone else

[2015-08-16 20:00] Suseika commented on #54
@dmarkov I need more time

[2015-08-17 09:59] dmarkov commented on #54
@suseika sure, take your time

[2015-08-17 09:59] dmarkov commented on #60
@suseika -30 points to your rating

[2015-08-17 09:59] dmarkov commented on #60
@suseika I will try to find someone else

[2015-08-27 13:30] Suseika commented on #54
@longtimeago Implemented, see PR #61

[2015-08-27 14:10] longtimeago commented on #54
@Suseika thank you very much!

[2015-08-27 14:10] #54 closed

[2015-08-30 16:55] longtimeago commented on #54
@yegor256 could you please release a new version with these changes?

[2015-08-30 18:27] yegor256 commented on #54
@rultor release, tag is `0.17`

[2015-08-30 18:28] rultor commented on #54
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/5007-136171892)

[2015-08-30 18:35] rultor commented on #54
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/5007-136171892) (took me 7min)

[2015-08-31 07:11] dmarkov commented on #54
@suseika Thanks for your contribution, **30 mins** was added to your account, payment ID is `AP-92B32428XY9566334`, 407 hours and 56 mins spent total; +30 added to your rating, at the moment it is: [+871](http://www.netbout.com/b/35381?open=rating)

[2015-08-31 08:58] dmarkov opened #63 "MulticolorLayoutTest.java:44-56: Create an integration test for..."
Puzzle `54-5ce25827` in `src/test/java/com/jcabi/log/MulticolorLayoutTest.java:44-56` has to be resolved: Create an integration test for testing if MulticolorLayout will disable text coloring when an application is run with `-Dcom.jcabi.log.coloring=false`. ... Intergration testing is required because this can't be done in a unit test: ... - We can't just pass a parameter to `MulticolorLayout` tha

[2015-08-31 08:58] dmarkov commented on #54
@longtimeago once `54-5ce25827`/#63 puzzle is resolved (later, in another ticket), this ticket will be fully complete

[2015-10-02 14:03] dmarkov commented on #60
@pecko this task is yours, please help (see our key [principles of work](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html)). If you have any technical questions, don't hesitate to ask right here; The budget of this task is **30 mins**. This is exactly how much time will be compensated, when the task is completed. Read about our [Definition of Done](http://www.xdsd.org/2014/04/15/definitio

[2015-10-02 19:26] pecko commented on #60
@dmarkov @yegor256

I have created the PR: https://github.com/jcabi/jcabi-log/pull/65
It uses reflection, but I don't know to solve it in another way.

[2015-10-02 20:51] pecko opened #66 "Using new Travis container-based infrastructure"
This project could use a new Travis container-based infrastructure similar to https://github.com/jcabi/jcabi-github/issues/1164

[2015-10-06 11:40] dmarkov commented on #60
@pecko OK we'll review

[2015-10-06 11:42] dmarkov commented on #66
@yegor256 please do something about this issue

[2015-10-06 11:43] pecko commented on #60
@dmarkov

@dmzaytsev and @yegor256 already reviewed it. See https://github.com/jcabi/jcabi-log/pull/65

[2015-10-06 19:04] yegor256 commented on #66
@pecko fixed in 51c6276 thanks!

[2015-10-06 19:04] #66 closed

[2015-10-08 07:22] dmarkov commented on #60
@pecko OK thanks

[2015-10-10 20:47] longtimeago opened #67 "Consider upgrade to log4j2"
It would be really cool to have all log4j features available, such as
https://logging.apache.org/log4j/2.x/faq.html#separate_log_files

This is really useful feature to write logs into separate files per some key.

[2015-10-13 17:36] longtimeago commented on #67
@yegor256 could you please consider resolution of the issue?

[2015-10-14 17:07] yegor256 commented on #67
@longtimeago but we don't work with log4j anyhow in this library. We only communicate with slf4j. Or I missed something?

[2015-10-14 17:59] longtimeago commented on #67
@yegor256 Yes, log4j is optional but we use it for `MulticolorLayout`.
`PatternLayout` from log4j2 supports coloring.
So we could upgrade to log4j2, get rid of `MulticolorLayout` and have all other nice features from log4j2

[2015-10-14 20:56] yegor256 commented on #67
@longtimeago yeah, right, but we don't need any other features from log4j :) MulticolorLayout is the only place where we use log4j. Maybe it's time to just delete it, since log4j2 supports colors out of the box?

[2015-10-15 06:12] longtimeago commented on #67
@yegor256 Yes, this is good option :)
In this case clients which still want coloring would have to use migrate on log4j2.
Beware, it's not a straightforward process. One thing I know is that log4j2 does not support configuration in property files, xml only

[2015-10-16 11:37] krzyk opened #68 "Documentation doesn't mention how to log exceptions"
I can't find in documentation (README.md, javadocs or log.jcabi.com) how to log exceptions (exception name + message + stacktrace).
Please add example into README.md and javadoc of `Logger` on how to log exceptions.

[2015-10-19 08:16] dmarkov commented on #60
@pecko just a reminder that you're working with this task for 16 days already. -30 added to your rating, at the moment it is: [+105](http://www.netbout.com/b/35660?open=rating)

[2015-10-19 14:01] dmarkov commented on #68
@yegor256 take a look at this issue please and dispatch it somehow, see [par.21](http://www.teamed.io/policy.html#21)

[2015-10-19 16:04] pecko commented on #60
@dmarkov

It's finished 17 days ago, reviewed and deployed 3 days ago. See https://github.com/jcabi/jcabi-log/pull/65#issuecomment-148675253

[2015-10-19 17:26] yegor256 commented on #60
@pecko keep in mind that the task is finished when the ticket is closed, by its author, see http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html

[2015-10-19 17:31] AlexAbraham1 commented on #60
Really sorry guys I forgot about this issue

I closed the issue now :)

Thanks to everyone who helped resolve it!

[2015-10-19 17:31] #60 closed

[2015-10-19 17:59] yegor256 commented on #68
@krzyk this page explains it: http://log.jcabi.com/decors.html

[code]

[2015-10-19 17:59] #68 closed

[2015-11-02 20:23] longtimeago commented on #67
@yegor256 can we proceed here?

[2015-11-03 05:16] yegor256 commented on #67
@longtimeago I gave it another thought... what is the point of removing it? we have users, the class is rather convenient. what exactly is the goal?

[2015-11-11 17:44] longtimeago commented on #67
@yegor256 I thought again ... looks like you are right. There is no reason in removing `MulticolorLayout` as well as well as removing optional dependency on log4j.

[2015-11-11 17:44] #67 closed

[2016-01-22 20:32] yegor256 opened #71 "Logger.stream() must escape unprintable chars"
Everything that is not printable must be escaped.

[2016-01-22 21:48] yegor256 commented on #71
@rultor release, tag is `0.17.1`

[2016-01-22 21:49] rultor commented on #71
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/6524-174063094)

[2016-01-22 22:03] rultor commented on #71
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/6524-174063094) (took me 14min)

[2016-01-22 22:16] #71 closed

[2016-01-26 10:29] dmarkov commented on #59
@piddubnyi please help, the task is yours

[2016-01-28 09:36] dmarkov commented on #63
@amihaiemil This task is yours, please go ahead keeping in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). If any questions, don't hesitate to ask right here

The budget here is **30 mins**, which is exactly how much time will be paid for, when the task is [completed](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2016-01-29 21:21] piddubnyi commented on #59
@Suseika Initial change is done in #72. Additional puzzles created to proceed on refactoring.
Please close this one.

[2016-01-29 21:25] #59 closed

[2016-02-01 07:41] dmarkov commented on #53
@jaakko100500 FYI, the issue we were waiting for (#59) is fixed

[2016-02-01 07:41] dmarkov commented on #53
@nikoladespotoski please pick this up, and keep in mind [these instructions](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Any technical questions - ask right here; Total fixed cost of this task is **30 mins** (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for more info)

[2016-02-03 08:03] krzyk opened #74 "VerboseProcess should fail if logging level was initialized to Level.ALL"
Very often `VerboseProcess` is used with following parameters:

[code]

Which contrary to most people assumptions doesn't make the `VerboseProcess` log all the events but makes it log none of them (`Level.ALL` is lower than `Level.FINEST`, and very few projects set the log level to `FINEST`).

`VerboseProcess` should fail if created with `Level.ALL` parameters.

[2016-02-04 09:31] dmarkov opened #75 "MulticolorLayout.java:84-85: This class is still handling..."
Puzzle `59-498fab78` in `src/main/java/com/jcabi/log/MulticolorLayout.java:84-85` has to be resolved: This class is still handling multiple responsibilities like formatting, parsing and coloring and should be refactored.... The puzzle was created by Igor Piddubnyi on 29-Jan-2016.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the proble

[2016-02-04 09:31] dmarkov commented on #59
@suseika the code made here contains a puzzle `59-498fab78`/#75, which will be resolved soon

[2016-02-04 09:34] dmarkov commented on #59
@piddubnyi Much appreciated! **30 mins** was added to your account, payment ID `76501906`, time spent is 141 hours and 10 mins; +30 added to your rating, at the moment it is: [+240](http://www.netbout.com/b/35966?open=rating)

[2016-02-05 21:28] amihaiemil commented on #63
@dmarkov The PR for this was reviewed and is waiting for Yegor's approval.

[2016-02-08 09:36] dmarkov commented on #74
@yegor256 please do something about it, see [par.21](http://at.teamed.io/policy.html#21)

[2016-02-09 04:07] yegor256 commented on #74
@krzyk well... isn't it a bit harsh? you don't see any possible use case where `Level.ALL` may be used?

[2016-02-09 08:45] krzyk commented on #74
@yegor256 I haven't seen such a use case, even if one would like to ignore the output it could be done using logger configuration.
I think that more harm is done by allowing Level.ALL then completely forbidding it.

For me classes/objects should cause least surprise when used, doing `new VerboseProcess(builder, Level.ALL, Level.ALL);` looks good, I'll have everything logged, but in reality I'm sur

[2016-02-09 09:44] dmarkov commented on #63
@amihaiemil OK

[2016-02-11 12:39] amihaiemil commented on #63
@dmarkov The PR for this still waits for @yegor256 approval to merge. He did not reply since 6 days ago.

[2016-02-12 07:44] dmarkov commented on #75
@jrdalpra it's your task, go ahead

[2016-02-12 13:09] dmarkov commented on #63
@amihaiemil you're working with this ticket for the last 15 days. If it is not closed within the next 48 hours, it will be re-assigned to someone else, see [No Obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle. [This article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck; as a reminder, don't forget to remove the `@todo`

[2016-02-12 13:13] amihaiemil commented on #63
@dmarkov The task is done and reviewed, it simply waits for @yegor256 's approval to merge. What can I do more about it? Can someone else take care of it if Yegor does not have the time?

[2016-02-12 14:28] amihaiemil commented on #63
@dmarkov If no one else can be assigned to review and let rultor merge, can we just wait for Yegor? I finished working on it 9 days ago. Since then, I've been waiting for feedback and already let 5 or 6 messages for Yegor to see.

[2016-02-12 23:45] jrdalpra commented on #75
@dmarkov ok

[2016-02-14 06:42] dmzaytsev commented on #63
@amihaiemil just type `@dmarkov I need more time`

[2016-02-14 06:43] amihaiemil commented on #63
@dmarkov I need more time

[2016-02-15 09:05] dmarkov commented on #63
@amihaiemil ping him here

[2016-02-15 09:05] dmarkov commented on #63
@amihaiemil OK, no problem, take your time

[2016-02-15 09:56] amihaiemil commented on #63
@yegor256 Please don't forget to give feedback on the PR for this issue: #73

[2016-02-16 07:44] NikolaDespotoski commented on #53
@dmarkov assign someone else

[2016-02-16 11:01] dmarkov commented on #53
@nikoladespotoski I will assign somebody else to this issue

[2016-02-16 11:01] dmarkov commented on #75
@jrdalpra thanks

[2016-02-16 17:23] amihaiemil commented on #63
@yegor256 ping

[2016-02-17 13:15] amihaiemil commented on #63
@yegor256 The PR #73 for this issue is still waiting for merge approval.

[2016-02-18 17:05] amihaiemil commented on #63
@yegor256 ping. See #73

[2016-02-18 23:35] jrdalpra commented on #75
@dmarkov the PR #76 is ready for review. Thanks.

[2016-02-19 11:31] amihaiemil commented on #63
@dmarkov This needs more time. The task is done, PR is created and reviewed and still waiting for Yegor's approval to merge.

[2016-02-20 08:08] amihaiemil commented on #63
@dmarkov The PR #73 for this issue has been merged and closed. This ticket can be closed as well. Thanks.

[2016-02-22 06:59] amihaiemil commented on #63
@dmarkov ping

[2016-02-22 23:12] jrdalpra commented on #75
@dmarkov any reviewer for the PR #76 ? thanks.

[2016-02-23 07:40] dmarkov commented on #75
@jrdalpra thanks, will take a look

[2016-02-23 07:55] amihaiemil commented on #63
@dmarkov Can you close this? Thanks

[2016-02-25 20:51] amihaiemil commented on #63
@dmarkov close this pls

[2016-02-28 12:55] jrdalpra commented on #75
@dmarkov the PR #76 was merged. Thanks.

[2016-02-29 08:52] dmarkov commented on #63
@amihaiemil sure, take your time, I know about this pause

[2016-02-29 08:52] dmarkov commented on #63
@amihaiemil OK

[2016-02-29 08:52] dmarkov commented on #63
@amihaiemil I will close automatically, if you removed the puzzle and deployment cycle is not broken

[2016-02-29 08:52] dmarkov commented on #75
@jrdalpra still waiting to find the right one

[2016-02-29 08:52] dmarkov commented on #75
@jrdalpra thanks for that

[2016-02-29 08:52] dmarkov opened #77 "MulticolorLayoutTest.java:44-51: Fix bug in method format(LoggingEvent)...."
Puzzle `63-fcb6d07a` in `src/test/java/com/jcabi/log/MulticolorLayoutTest.java:44-51` has to be resolved: Fix bug in method format(LoggingEvent). The tests disablesOverridenConstantColor() and disablesConstantColor() from /src/it/it-decoloring/.../MulticolorLayoutITCase are currently failing and are ignored. Problem is that the text isn't decolored correctly when the color is specified in the conv

[2016-02-29 08:52] dmarkov commented on #63
@yegor256 the code made here contains a puzzle `63-fcb6d07a`/#77, which will be resolved soon

[2016-03-01 11:14] dmarkov commented on #63
@yegor256 The task is closed, thanks everybody

[2016-03-01 11:14] #63 closed

[2016-03-01 11:14] dmarkov commented on #75
@yegor256 The issue is closed

[2016-03-01 11:14] #75 closed

[2016-03-01 11:15] dmarkov commented on #63
@amihaiemil thanks, I just added **30 mins** to your account, payment `AP-1NP34462WR292830D`, 767 hours and 17 mins spent

added +30 to your rating, now it is equal to [+45](http://www.netbout.com/b/36402?open=rating)

[2016-03-01 11:15] dmarkov commented on #75
@jrdalpra done, I added **30 mins** in payment `AP-9J343123PV982513N`, 409 hours and 8 mins spent to complete this. +30 added to your rating, current score is: [+248](http://www.netbout.com/b/36044?open=rating)

[2016-03-15 09:53] dmarkov commented on #77
@amihaiemil it's in your hands now, please proceed

[2016-03-17 17:07] amihaiemil commented on #77
@dmarkov I created PR #78 .Please assign a reviewer. Thanks.

[2016-03-18 07:14] dmarkov commented on #77
@amihaiemil OK, sure

[2016-03-21 19:46] amihaiemil commented on #77
@dmarkov PR #78 , concerning this issue, has been merged and closed. Please deploy it and close this issue. Thanks.

[2016-03-24 07:48] dmarkov commented on #77
@amihaiemil OK

[2016-03-24 12:49] dmarkov commented on #77
@yegor256 Thanks, closed

[2016-03-24 12:49] #77 closed

[2016-03-24 12:50] dmarkov commented on #77
@amihaiemil paid, thanks, added **30 mins** to your account, payment `AP-7SX02577RW429631Y`, 193 hours and 46 mins was spent; +30 added to your rating, at the moment it is: [+135](http://www.netbout.com/b/36402?open=rating)

[2016-03-31 21:07] krzyk commented on #74
@yegor256 what do you think? Do you have any other ideas how to inform the user that `Level.ALL` is not appropriate in most cases (if not all)?

[2016-04-12 09:38] dmarkov commented on #59
@suseika the last puzzle `59-498fab78`/#75 originated from here solved

[2016-04-12 12:26] dmarkov commented on #53
@nesterov-n the task is for you now, follow [these guidelines](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Don't hesitate to ask any technical questions right here... **30 mins** is the budget of the task. This is exactly how much will be paid when the problem is [solved](http://www.xdsd.org/2014/04/15/definition-of-done.html) (no matter how much time you will actually spend). See

[2016-04-12 16:42] nesterov-n commented on #53
@dmarkov please assign someone else

[2016-04-13 07:13] dmarkov commented on #53
@nesterov-n -30 points to your rating :(

[2016-04-13 07:13] dmarkov commented on #53
@nesterov-n no problem, I will try to find somebody else

[2016-04-18 14:56] yegor256 commented on #74
@krzyk OK, I agree, let's throw an exception when `Level.ALL` is specified

[2016-04-19 08:16] dmarkov commented on #74
@krzyk thanks for the report, I topped your acc for 15 mins, payment ID `84047917`

[2016-05-04 08:52] dmarkov commented on #54
@longtimeago the last puzzle `63-fcb6d07a`/#77 solved

[2016-05-04 08:52] dmarkov commented on #63
@yegor256 the last puzzle `63-fcb6d07a`/#77 originated from here solved

[2016-05-13 09:58] essobedo opened #79 "Provide methods that don't check the log level internally"
Up to now all the methods check internally the log level probably to avoid having to do it manually in the code because we can consider that it pollutes it with tests checking for the log level. It is interesting for readability but it is a mistake for performance reasons, let me explain why with a simple use case:

 `Logger.debug(this, "method #bar(%d) was called", this.value());`

Here we log a

[2016-05-16 14:04] dmarkov commented on #79
@yegor256 please pay attention to this issue ([par.21](http://at.teamed.io/policy.html#21))

[2016-05-23 16:21] Stuk4 opened #80 "Create and configure log files"
Hi,
What i have to do for generate log files ?
Im using logback with slf4j and I have a logback.xml. I wish to use jcabi-log.

Thanks

[2016-05-23 17:35] #80 closed

[2016-05-23 17:36] Stuk4 commented on #80
Is lo4j.properties

[2016-05-28 12:53] Dingmin commented on #80
sorry,i want to ask where to glance the log,is it log in a flie? i use it to log but i can't find the log.

[2016-05-28 16:17] Stuk4 commented on #80
Do you have log4j.properties in resources path?, You can configurate the log path in this file.

[2016-06-27 21:10] yegor256 commented on #79
@essobedo make sense, but what do you propose? remember, it's Java

[2016-06-28 18:17] essobedo commented on #79
@yegor256 If it was not a pure procedural approach based on static methods, I would have proposed to rewrite the code to propose a more OO approach with an interface, a default implementation that only logs the message and a decorator that checks if the log level is enabled to be able to propose both possibilities the old one that checks internally the log level before logging the message and the

[2016-06-28 19:08] yegor256 commented on #79
@essobedo so you're suggesting something like `Logger.infoForced()`?

[2016-06-28 19:12] essobedo commented on #79
@yegor256 yes something like that

[2016-06-28 23:51] yegor256 commented on #79
@essobedo OK, make sense, we'll implement it

[2016-06-29 08:35] dmarkov commented on #79
@essobedo thank you for the ticket reported, I topped your account for 15 mins, transaction `91604758`

[2016-07-13 08:15] krzyk opened #81 "Mysterious code inside VerboseRunnable"
There is a strange *nop* code inside `VerboseRunnable` (https://github.com/jcabi/jcabi-log/blob/d1bf0b962a4a9a2924021e1eccdeac97eacc9753/src/main/java/com/jcabi/log/VerboseRunnable.java#L214-L218):
[code]
Why a `VerboseRunnable` should wait 1 microsecond after executing a runnable?
The above code looks like useless, if it really is it should be removed.

[2016-07-18 10:18] dmarkov commented on #81
@yegor256 please do something about this issue

[2016-07-22 19:54] yegor256 commented on #81
@krzyk if I remove it, this test fails: https://github.com/jcabi/jcabi-log/blob/master/src/test/java/com/jcabi/log/VerboseRunnableTest.java#L153-L194 let me think what this all is really about...

[2016-07-22 20:00] yegor256 commented on #81
@krzyk I made it a bit more clear: 1c489aa

[2016-07-22 20:01] yegor256 commented on #81
@krzyk make sense now?

[2016-07-24 19:08] krzyk commented on #81
@yegor256 yes, now it is clear :)

[2016-07-24 19:08] #81 closed

[2016-08-01 20:48] mkordas commented on #81
@yegor256 can we do a release here?

[2016-08-02 16:59] mkordas commented on #81
@yegor256 ping

[2016-08-02 18:23] yegor256 commented on #81
@rultor release, tag is `0.17.2`

[2016-08-02 18:25] rultor commented on #81
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/9200-236995663)

[2016-08-02 18:33] rultor commented on #81
@krzyk @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/9200-236995663) (spent 8min)

[code]

[2016-08-10 09:14] dmarkov commented on #79
@prondzyn please proceed, it's yours

[2016-08-10 10:18] prondzyn commented on #79
@dmarkov PR #82 prepared.

[2016-08-10 11:59] dmarkov commented on #79
@prondzyn thank you

[2016-08-12 19:27] krzyk opened #83 "Add handling of suppliers in log statements"
Right now to avoid doing evaluation of expression provided to the logger one has to use an if:
[code]

Which considering that java 8 introduced lambdas would be more clearly written as:
[code]

To achieve this and allow pre java 8 code to run it would be enough to introduce  a set of methods like:
[code]

Where `Supplier` is an interface like the one in Java 8 (https://docs.oracle.com/javase/8/doc

[2016-08-15 20:14] prondzyn commented on #79
@essobedo methods added. Please close the task.

[2016-08-16 06:59] essobedo commented on #79
@prondzyn good news thx

[2016-08-16 06:59] #79 closed

[2016-08-16 08:13] dmarkov commented on #83
@yegor256 dispatch this issue please, see [par.21](http://at.teamed.io/policy.html#21)

[2016-08-17 11:13] dmarkov commented on #79
@prondzyn thanks, I just added **30 mins** to your account, payment `AP-8UX5251217671435V`, 142 hours and 58 mins spent. +30 added to your rating, current score is: [+90](http://www.netbout.com/b/35715?open=rating)

[2016-08-18 16:52] yegor256 commented on #83
@krzyk good idea, thanks

[2016-08-19 09:00] dmarkov commented on #83
@krzyk thanks for the report, I topped your acc for 15 mins, payment ID `97304027`

[2016-08-22 07:32] prondzyn opened #84 "Unify Logger API"
The [Logger.java](https://github.com/jcabi/jcabi-log/blob/master/src/main/java/com/jcabi/log/Logger.java) API looks a little bit inconsistent now. There are methods: `trace`, `debug`, `info`, and `warn` which internally checks if appropriate logging level is enabled. There are methods `traceForced`, `debugForced`, `infoForced`, and `warnForced` which omits level checking. And there is `error` meth

[2016-08-22 09:51] dmarkov commented on #83
@amihaiemil please proceed, it's yours

[2016-08-22 10:49] amihaiemil commented on #83
@krzyk The way I understand it, you want to implement java8 ``::`` behaviour using Java 7 with an interface/class similar to ``Supplier``?

So you would call the ``logger.debug`` method like this:

``logger.debug(new Supplier("Some %s", this, "method-to-call"))`` ? - different than you suggested initally

and inside ``Supplier.get()`` you would have something like:
[code]

Where ``this.original``

[2016-08-22 12:31] krzyk commented on #83
@amihaiemil Why change the method signature?
The idea is that only the parameters are provided using suppliers, this way the usage of the method will be almost exactly like the current ones.

I was thinking of something like this:
[code]

[2016-08-22 12:36] amihaiemil commented on #83
@krzyk Ok, but I still have to use reflection, don't I? So an ``arg`` would be something like this:
``new Supplier(source, "method-to-call")``. I changed the signature because you pass ``source`` to ``Supplier`` as well, and so you could also pass ``msg`` there, and do everything in ``Supplier.get`` .

[2016-08-22 12:41] krzyk commented on #83
@amihaiemil Why reflections?
Why do you need to pass the source to the Supplier?

Supplier is as simple as:

[code]

[2016-08-22 12:43] krzyk commented on #83
@amihaiemil It is responsibility of the lib user to provide the concrete Supplier implementation here.
When one has java 8 it would be very simple, by e.g. using `() -> Math.random()`, or `this::someCalculation()`

[2016-08-22 12:47] amihaiemil commented on #83
@krzyk I see now, so you simply want to introduce java8's ``Supplier``; I thought you wanted to implement ``Supplier``, in which case reflection would have been necessary, because how else can ``T`` be a "method reference"

[2016-08-22 12:50] krzyk commented on #83
@amihaiemil Yeas, I just want to use `Supplier`, not introduce lambda evaluation here :)

[2016-08-22 16:09] amihaiemil commented on #83
@krzyk Is it ok with you if I add also the default-access class ``SuppliersLogger``, which will contain your methods (for trace, debug, info, warn and error)? and then the user would do
``Logger.withSupplier().debug(this, "Some %s", this::calculate());``

I think it's better to do it like this, because more sets of methods will come. ``Supplier`` is only for methods which take no arguments and ret

[2016-08-22 19:29] krzyk commented on #83
@amihaiemil Yes, it sounds good.

[2016-08-23 05:41] amihaiemil commented on #83
@dmarkov PR #85 is for this

[2016-08-23 07:50] dmarkov commented on #83
@amihaiemil thank you!

[2016-08-24 18:45] amihaiemil opened #86 "Out of date dependencies"
There are outdated dependencies. including slf4j-api.

[2016-08-25 09:53] dmarkov commented on #84
@yegor256 please do something about this issue

[2016-08-29 07:34] dmarkov commented on #86
@yegor256 please take a look at it and dispatch (see [par.21](http://at.teamed.io/policy.html#21))

[2016-09-02 06:55] amihaiemil commented on #83
@dmarkov I need more time

[2016-09-02 08:25] dmarkov commented on #83
@amihaiemil sure, thanks for telling me, take your time

[2016-09-05 19:19] amihaiemil commented on #83
@krzyk the pr has been merged. Can u close this? Thanks

[2016-09-05 20:12] krzyk commented on #83
@amihaiemil thanks

[2016-09-05 20:12] #83 closed

[2016-09-06 17:16] NaanProphet opened #87 "Buffer stack traces from subprocess"
Hi there!

Would it be conceptually possible/feasible to buffer and log stack traces at stderr from a VerboseProcess to print as a single statement?

We are essentially using the log file of the parent JVM for some monitoring, and having the stack trace write 100+ separate statements in our file is triggering that many alerts

[2016-09-07 10:35] dmarkov commented on #83
@amihaiemil I added **30 mins** to your account, many thanks for working with the project (AP-80670688HM044824D)! The completion time here was 358 hours and 23 mins.. +30 added to your rating, current score is: [+533](http://www.netbout.com/b/36402?open=rating)

[2016-09-08 07:27] dmarkov commented on #74
@prondzyn please pick this up, and keep in mind [these instructions](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Any technical questions - ask right here

**30 mins** is the budget of the task. This is exactly how much will be paid when the problem is [solved](http://www.xdsd.org/2014/04/15/definition-of-done.html) (no matter how much time you will actually spend). See [this](http:

[2016-09-08 10:03] prondzyn commented on #74
@krzyk I did not analyzed what VerboseProcess do but according to [java.util.logging.Level docs](https://docs.oracle.com/javase/7/docs/api/java/util/logging/Level.html) `Level.ALL`:

So what is wrong with `new VerboseProcess(builder, Level.ALL, Level.ALL);` here? According to docs all messages should be logged. Maybe the error is elsewhere?

[2016-09-08 10:07] krzyk commented on #74
@prondzyn ALL is a setting for the log4j.xml (or properties) file, it is not meant to be used from the code for logging.

[2016-09-08 10:10] prondzyn commented on #74
@krzyk understand. One more question - should it throw exception when both stdout and stderr are set to ALL or even if only one is set to ALL?

[2016-09-08 10:21] krzyk commented on #74
@prondzyn It should throw exception if any of them is set to ALL

[2016-09-08 10:48] prondzyn commented on #74
@dmarkov PR #88 is ready for this.

[2016-09-08 12:09] dmarkov commented on #74
@prondzyn thanks

[2016-09-12 09:01] dmarkov commented on #87
@yegor256 take a look at this issue please and dispatch it somehow, see [par.21](http://at.teamed.io/policy.html#21)

[2016-09-16 09:17] prondzyn commented on #74
@dmarkov need more time. Still waiting on @yegor256 's merge approval in #88

[2016-09-16 11:54] dmarkov commented on #74
@prondzyn yes, take your time, thanks for letting me know

[2016-09-26 03:19] prondzyn commented on #74
@dmarkov I need more time. I'm waiting on @yegor256 's answer in #88

[2016-09-26 08:58] dmarkov commented on #74
@prondzyn yeah, I know, take your time

[2016-10-06 05:12] prondzyn commented on #74
@dmarkov I need more time. I'm waiting on @yegor256 's confirmation in #88

[2016-10-06 08:06] dmarkov commented on #74
@prondzyn take your time, I am aware that we're waiting here

[2016-10-16 05:33] prondzyn commented on #74
@dmarkov I need more time. Still waiting on @yegor256's confirmation.

[2016-10-17 08:54] dmarkov commented on #74
@prondzyn sure, take your time, I know about this pause

[2016-10-17 09:18] prondzyn commented on #74
@dmarkov do you know how long this pause will take?

[2016-10-26 03:27] prondzyn commented on #74
@dmarkov I need more time. Still waiting on @yegor256's confirmation.

[2016-10-28 11:05] dmarkov commented on #74
@prondzyn take your time, I am aware that we're waiting here

[2016-11-05 12:30] prondzyn commented on #74
@dmarkov I need more time. Still waiting on @yegor256's confirmation.

[2016-11-07 07:39] dmarkov commented on #74
@prondzyn sure, take your time, I know about this pause

[2016-11-15 05:04] prondzyn commented on #74
@dmarkov I need more time. Still waiting on @yegor256's confirmation.

[2016-11-15 08:08] dmarkov commented on #74
@prondzyn sure, take your time, I know about this pause

[2016-11-22 07:18] yegor256 commented on #87
@NaanProphet just save them to `StringOutputStream`. Or I didn't understand the question?

[2016-11-22 12:27] yegor256 commented on #84
@prondzyn well, it's by design. We don't want people to have an ability to log an error conditionally. And an error is an error, we always want to see it in the log.

[2016-11-22 12:40] prondzyn commented on #84
@yegor256 sounds ok for me. I'm closing then.

[2016-11-22 12:40] #84 closed

[2016-11-22 12:41] prondzyn commented on #74
@krzyk PR #88 merged. Please close the task.

[2016-11-22 12:50] krzyk commented on #74
@prondzyn thanks

[2016-11-22 12:50] #74 closed

[2016-11-23 03:22] NaanProphet commented on #87
Hey @yegor256! i think it's a little different—

In this use case, the sub-process that's running is an outside library/process whose code we don't have access to. Otherwise, it would have been conceptually possible to change their code to use e.g. a `StringOutputStream`

[2016-11-24 08:50] dmarkov commented on #74
@prondzyn Thank you, I have added **30 mins** to your account in payment/transaction "`AP-9SL850281L944471W`", time consumed: 1824 hours and 32 mins

+30 to your rating, your total score is [+90](http://www.netbout.com/b/35715?open=rating)

[2016-12-22 09:57] dmarkov commented on #24
@yegor256 Closing this issue now...

[2016-12-22 09:57] #24 closed

[2017-02-07 15:57] yegor256 opened #91 "too much text in RetryOnFailure with verbose=OFF"

[2017-02-07 15:57] #91 closed

[2017-02-14 12:08] PeteKeller opened #92 "Install Fails on Maven-Invoker_Plugin"
When running mvn clean install -Pqulice I get the following error:

[code]

Note: this occurs during the install phase.

[2017-02-14 12:08] 0crat commented on #92
@yegor256 please, pay attention to this issue

[2017-02-14 12:13] PeteKeller commented on #92
@yegor256 I am trying to upload my solution to this.

[2017-02-16 00:53] PeteKeller commented on #92
@yegor256 pull #93 has a temporary solution.

[2017-02-16 13:04] PeteKeller opened #94 "Upgrading parent in pom.xml from 1.20.1 to 1.23 causes checkstyle errors"
[INFO] Checkstyle: jcabi-log\src\it\it-decoloring\src\main\java\com\jcabi\log\MulticolorLayoutIntegration.java[32]: Missing '@since' tag in class/interface comment (JavadocTagsCheck)
[INFO] Checkstyle: jcabi-log\src\it\it-decoloring\src\test\java\com\jcabi\log\MulticolorLayoutIntegrationTest.java[40]: Missing '@since' tag in class/interface comment (JavadocTagsCheck)
[INFO] Checkstyle: jcabi-log\s

[2017-02-16 13:04] 0crat commented on #94
@yegor256 please, pay attention to this issue

[2017-02-16 13:06] PeteKeller commented on #94
@yegor256 I will start cleaning these up soon.

[2017-02-22 09:18] yegor256 commented on #94
@PeteKeller thanks!

[2017-02-26 07:33] #92 closed

[2017-03-18 16:07] PeteKeller opened #96 "Upgrading parent in pom.xml from 1.20.1 to 1.23 and fixing checkstyle errors causes PMD errors."
[INFO] Starting PMD validator
[ERROR] \src\it\it-decoloring\src\test\java\com\jcabi\log\MulticolorLayoutIntegrationTest.java[80-80]: Static fields should be accessed in a static way [CLASS_NAME.FIELD_NAME]. (StaticAccessToStaticFields)
[ERROR] \src\it\it-decoloring\src\test\java\com\jcabi\log\MulticolorLayoutIntegrationTest.java[91-91]: Static fields should be accessed in a static way [CLASS_NAME.

[2017-03-18 16:07] 0crat commented on #96
@yegor256 please, pay attention to this issue

[2017-03-18 22:49] 0crat commented on #96
@yegor256 please, pay attention to this issue

[2017-03-18 22:52] PeteKeller commented on #96
I received this error after I fixed the checkstyle errors.  I then entered this ticket, and started to fix the issues.

When I re-ran qulice, everything passed.  I went back to before my fixes, and it passed as well.

I do not think that this is a spurious error, so I am closing this ticket.

[2017-03-19 18:05] PeteKeller commented on #96
The Travis CI build also threw this error, so I am re-opening this ticket.

[2017-04-13 08:27] koppor opened #97 "Add example log output"
The README.md and the homepage states the usage of the static wrapper, but does not state the output of the Logger call. I wonder whether the result is logged as `com.jcabi.log.Logger` class or `Foo` class.

Maybe you could state that log level configuration works as expected.

[2017-04-13 08:27] 0crat commented on #97
@yegor256 please, pay attention to this issue

[2017-04-13 08:28] koppor commented on #97
Thank you for the ultra-fast reply 😄

With this regard, http://www.tinylog.org/ has a good initial homepage. I assume that jcabi-log and TinyLog offer a similar functionality.

[2017-04-25 12:39] yegor256 commented on #96
@PeteKeller what's up with this now?

[2017-04-26 03:44] PeteKeller commented on #96
@yegor256  basically lost a month between my wife, child, and I being sick. I think I have fixed most of them, and I am still working on it.

[2017-04-28 06:17] yegor256 commented on #97
@koppor it uses `Foo` as a logger class. Maybe you can contribute with a pull request to update our README. We will appreciate it.

[2017-05-11 12:05] 0pdd opened #98 "VerboseProcessTest.java:52-55: Locale/encoding problem in two test..."
The puzzle `18-de8643f2` in [`src/test/java/com/jcabi/log/VerboseProcessTest.java`](https://github.com/jcabi/jcabi-log/blob/master/src/test/java/com/jcabi/log/VerboseProcessTest.java) (lines 52-55) has to be resolved: Locale/encoding problem in two test methods here. I'm not sure how to fix them, but they should be fixed. They fail on some machines, while run perfectly on others. They also fail wh

[2017-05-11 12:05] 0crat commented on #98
@yegor256 please, pay attention to this issue

[2017-12-11 10:29] ittaiz commented on #7
We hit this issue when trying to migrate a project from maven to [bazel](bazel.build).
Bazel doesn't have version resolution mechanisms like maven and so we aligned on one version and got cyclic problems.
These can be worked around via depending on the "old" jcabi-log under a different name but it's brittle so we just stopped depending on jcabi all together.
Just another data point.

[2018-01-09 16:19] yegor256 opened #100 "Logger.format() can't process args with positions"

[2018-01-09 16:20] yegor256 commented on #100
@rultor release, tag is `0.17.2`

[2018-01-09 16:20] rultor commented on #100
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13685-356333846)

[2018-01-09 16:28] rultor commented on #100
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/13685-356333846) (spent 8min)

[code]

[2018-01-09 16:30] yegor256 commented on #100
@rultor release, tag is `0.17.2`

[2018-01-09 16:30] rultor commented on #100
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13685-356337208)

[2018-01-09 16:39] rultor commented on #100
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/13685-356337208) (spent 8min)

[code]

[2018-01-09 17:34] yegor256 commented on #100
@rultor release, tag is `0.18`

[2018-01-09 17:35] rultor commented on #100
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13685-356356790)

[2018-01-09 17:43] rultor commented on #100
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/13685-356356790) (spent 8min)

[code]

[2018-01-09 18:03] yegor256 commented on #100
@rultor release, tag is `0.18`

[2018-01-09 18:04] rultor commented on #100
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13685-356365208)

[2018-01-09 18:13] rultor commented on #100
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/13685-356365208) (spent 9min)

[code]

[2018-01-09 18:15] yegor256 commented on #100
@rultor release, tag is `0.18`

[2018-01-09 18:16] rultor commented on #100
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13685-356368507)

[2018-01-09 18:25] rultor commented on #100
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/13685-356368507) (spent 9min)

[code]

[2018-01-09 18:29] 0pdd opened #101 "SupplierLoggerTest.java:43-45: Some tests here are..."
The puzzle `100-e041f047` from #100 has to be resolved:

https://github.com/jcabi/jcabi-log/blob/387b6b8e2d8c60863c85e973ef88e36c4f0ad21d/src/test/java/com/jcabi/log/SupplierLoggerTest.java#L43-L45

The puzzle was created by Yegor Bugayenko on 09-Jan-18.

Estimate: 30 minutes, role: IMP.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when th

[2018-01-09 18:29] 0crat commented on #101
@yegor256 please, pay attention to this issue

[2018-01-09 18:29] yegor256 commented on #100
@rultor release, tag is `0.18`

[2018-01-09 18:30] rultor commented on #100
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13685-356372271)

[2018-01-09 18:44] rultor commented on #100
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/13685-356372271) (spent 14min)

[code]

[2018-01-09 18:45] yegor256 commented on #100
@rultor release, tag is `0.18`

[2018-01-09 18:47] rultor commented on #100
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13685-356376660)

[2018-01-09 19:17] rultor commented on #100
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/13685-356376660) (spent 30min)

[code]

[2018-01-09 19:49] yegor256 commented on #100
@rultor release, tag is `0.18`

[2018-01-09 19:49] rultor commented on #100
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13685-356393911)

[2018-01-09 20:19] rultor commented on #100
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/13685-356393911) (spent 29min)

[code]

[2018-01-09 20:23] yegor256 commented on #100
@rultor release, tag is `0.18`

[2018-01-09 20:24] rultor commented on #100
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13685-356403191)

[2018-01-09 20:47] rultor commented on #100
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/13685-356403191) (spent 23min)

[code]

[2018-01-09 20:51] #100 closed

[2018-01-09 20:54] 0crat commented on #100
Job `gh:jcabi/jcabi-log#100` is not assigned, can't get start time

[2018-01-09 20:54] 0crat commented on #100
Job `gh:jcabi/jcabi-log#100` was not in scope

[2018-01-10 09:10] atapin opened #102 "DomDecor: why is object allowed to be passed to ctor?"
Why checking with `instanceof` and then casting if we just can pass instance of type `Node`?
[code]

[2018-01-10 09:10] 0crat commented on #102
[@yegor256](http://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-29 20:02] yegor256 opened #103 "Logger fails to build complex strings with positional substitutes"

[2018-01-29 20:03] yegor256 commented on #103
@rultor release, tag is `0.17.2`

[2018-01-29 20:04] rultor commented on #103
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13783-361368855)

[2018-01-29 20:15] rultor commented on #103
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/13783-361368855) (spent 11min)

[code]

[2018-01-29 20:20] yegor256 commented on #103
@rultor release, tag is `0.17.3`

[2018-01-29 20:21] rultor commented on #103
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13783-361373438)

[2018-01-29 20:42] rultor commented on #103
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13783-361373438) (took me 21min)

[2018-01-29 20:43] #103 closed

[2018-01-29 20:44] 0crat commented on #103
Job `gh:jcabi/jcabi-log#103` is not assigned, can't get start time

[2018-01-29 20:54] 0crat commented on #103
Job [#103](https://github.com/jcabi/jcabi-log/issues/103) was not in scope

[2018-09-08 05:25] g4s8 opened #104 "[nano] decor example is not working"
I tried to use `[nano]` decor example from this page https://log.jcabi.com/decors.html

[code]

but it throws an exception:
[code]

[2018-12-19 13:49] flowgrad commented on #7
Got this when trying to use it in OSGi environment. Dropped this project faster then anything. Circular dependecies are a hint on low quality and lack of vision. Fix it.

[2018-12-25 16:07] yegor256 commented on #104
@g4s8 try `"done in %[nano]s"`

[2019-09-06 13:21] yegor256 commented on #53
@rultor release, tag is `0.17.4`

[2019-09-06 13:23] rultor commented on #53
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/20161-528852251)

[2019-09-06 13:53] rultor commented on #53
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/20161-528852251) (took me 30min)

[2019-09-06 13:59] yegor256 commented on #53
@csabakos thanks! Version 0.17.4 is ready.

[2019-09-06 13:59] #53 closed

[2019-09-06 14:16] 0crat commented on #53
Job `gh:jcabi/jcabi-log#53` is not assigned, can't get performer

[2019-09-06 14:17] 0crat commented on #53
This job is not in scope

[2019-09-06 15:10] csabakos commented on #53
Thank you!

[2019-11-07 18:41] yegor256 opened #106 "let's get rid of aspects"

[2019-11-07 18:46] yegor256 commented on #106
@rultor release, tag is `0.18.0`

[2019-11-07 18:47] rultor commented on #106
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/20815-551211537)

[2019-11-07 19:00] rultor commented on #106
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/20815-551211537) (spent 12min)

[code]

[2019-11-07 19:02] #106 closed

[2019-11-07 19:04] yegor256 commented on #106
@rultor release, tag is `0.18.1`

[2019-11-07 19:04] rultor commented on #106
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/20815-551218573)

[2019-11-07 19:18] rultor commented on #106
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/20815-551218573) (took me 13min)

[2019-11-07 19:20] 0crat commented on #106
Job `gh:jcabi/jcabi-log#106` is not assigned, can't get performer

[2019-11-07 19:21] 0crat commented on #106
This job is not in scope

[2020-05-04 18:25] g4s8 opened #107 "All jcabi libraries are not working with JDK13 because logger uses invalid refrelction access"
Logger is trying to change some static final reference via reflection:
[code]
what causes an error on JDK13:
[code]
The problem is that almost all jcabi dependencies uses jcabi-log therefore all of them can't be used with JDK13.

[2020-05-04 18:25] 0crat commented on #107
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2020-08-05 13:01] yegor256 commented on #107
@g4s8 I think we can safely remove this piece of code. Would you be able to submit a PR please?

[2020-11-27 04:48] yegor256 opened #108 "let's use latest version of SLF4j API"
It's `1.8.0-beta1` now

[2020-11-27 06:46] yegor256 commented on #108
@rultor release, tag is `0.19.0`

[2020-11-27 06:48] rultor commented on #108
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23759-734674536)

[2020-11-27 06:50] rultor commented on #108
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/23759-734674536) (spent 2min)

[code]

[2020-11-27 06:53] yegor256 commented on #108
@rultor release, tag is `0.19.0`

[2020-11-27 06:54] rultor commented on #108
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23759-734676886)

[2020-11-27 07:09] rultor commented on #108
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/23759-734676886) (took me 14min)

[2020-11-27 07:23] #108 closed

[2021-08-19 11:39] yegor256 opened #113 "slf4j 2.0"
Let's upgrade

[2021-10-01 17:55] yegor256 commented on #113
@rultor release, tag is `0.20.0`

[2021-10-01 17:55] rultor commented on #113
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25117-932438723)

[2021-10-01 17:57] rultor commented on #113
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/25117-932438723) (spent 2min)

[code]

[2021-10-01 18:00] yegor256 commented on #113
@rultor release, tag is `0.20.0`

[2021-10-01 18:01] rultor commented on #113
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25117-932442028)

[2021-10-01 18:05] rultor commented on #113
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/25117-932442028) (spent 4min)

[code]

[2021-10-01 18:37] yegor256 commented on #113
@rultor release, tag is `0.20.0`

[2021-10-01 18:37] rultor commented on #113
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25117-932465048)

[2021-10-01 18:47] rultor commented on #113
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/25117-932465048) (spent 9min)

[code]

[2021-10-01 18:50] yegor256 commented on #113
@rultor release, tag is `0.20.1`

[2021-10-01 18:51] rultor commented on #113
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25117-932473007)

[2021-10-01 19:10] rultor commented on #113
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/25117-932473007) (took me 19min)

[2021-10-01 19:12] #113 closed

[2021-10-01 19:13] yegor256 commented on #107
@g4s8 I think the latest version works just fine, tested with JDK 17

[2021-10-01 19:13] #107 closed

[2022-07-13 07:27] yegor256 opened #114 "fresh release"

[2022-07-13 07:37] 0pdd commented on #100
@yegor256 the puzzle [#unknown]() is still not solved.

[2022-07-13 07:37] 0pdd commented on #18
@yegor256 the puzzle [#unknown]() is still not solved.

[2022-07-13 09:23] yegor256 commented on #114
@rultor release, tag is `0.21.0`

[2022-07-13 09:24] rultor commented on #114
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26219-1182983955)

[2022-07-13 09:41] rultor commented on #114
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/26219-1182983955) (took me 16min)

[2022-07-13 09:48] #114 closed

[2022-08-11 06:01] yegor256 opened #115 "refresh"

[2022-08-11 06:04] yegor256 commented on #115
@rultor release, tag is `0.22.0`

[2022-08-11 06:05] rultor commented on #115
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26481-1211582682)

[2022-08-11 06:20] rultor commented on #115
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/26481-1211582682) (took me 15min)

[2022-08-11 06:25] #115 closed

[2022-08-11 06:28] #104 closed

[2022-09-22 04:20] renovate[bot] opened #120 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.

## Rate-Limited

These updates are currently rate-limited. Click on a checkbox below to force their creation now.

 - [ ] Update junit5 monorepo to v5.9.1 (`org.junit.jupiter:junit-jupiter-params`, `org.junit.jupiter:junit-jupiter-a

[2022-10-24 12:08] ningpp opened #134 "depends on mockito-core as compile scope, is a mistake?"
https://github.com/apache/tinkerpop/pull/1836

[2022-10-28 00:17] ningpp commented on #134
hello?

[2022-11-02 04:30] ningpp commented on #134
hello?

[2022-11-10 05:43] ningpp commented on #134
hello???

[2022-11-23 12:32] ningpp commented on #134
hello！

[2022-11-30 15:41] ChristopherWirt commented on #134
+1